/* External sytling with CSS */
.jumbotron {
  background-image:url(../images/pizza.jpg);
  height:500px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom:1px solid #ff6a00
}
.jumbotron .container {
  position:relative;
  top:50px;
}
    .jumbotron h1 {
        color: white;
        font-size: 100px;
        font-family: FontAwesome;
        font-family: FontAwesome;
        text-shadow: 1px 1px 1px #000;
    }
    .jumbotron p {
        color: white;
        margin-bottom: 15px;
        font-size: 21px;
        font-weight: 200;
        font-family: FontAwesome;
        text-shadow: 1px 1px 1px #000;
    }



.menu-cards, .invoice-card {
    /* padding-top: 100px; */
    padding-left: 100px;
    padding-right: 100px;
    /* text-align: center; */
}

.card-block {
    padding-left: 25px;
    padding-right: 25px;
}

.card {
    margin: 15px;
    /* border-radius: 5%; */
}

.card-text {
    font-style: italic; 
}

.card-header {
    font-weight: 500;
    font-size: 2em;
}

ul {
   list-style: none; 
}

/* .order-buttons */

button {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 25%;
}

img {
    width: 100%;
    height: auto;
}



