@{
    ViewBag.Title = "About";
}

<div class="jumbotron title">
    <h1 style="text-align:center">Carl's Car Quotes</h1>
    <p style="text-align:center" class="lead rambling">
        Howdy! Did you know that Carl's Car Quotes is one of the oldest insurers west of the Mississippi?
        We started back in 1901, after my Great-Great-Granpappy and his friends bought a Motor-T together.  Granpappy asked 'em all to set aside
        a group pot for repairs and the like, and the rest is history.
    </p>
</div>