@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron title">
    <h1 style="text-align:center">Carl's Car Quotes</h1>
    <p class="contactElement rambling">
        Well I am just about pleased as punch that you'd like to follow up with us,
        just check out that there mess below.
    </p>

    <address class="contactElement">
        939 Sunnyslope Street<br />
        Portland, OR 97255<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address class="contactElement">
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>
