@{
    ViewBag.Title = "Carl's Car Quotes";
}

<div class="jumbotron title">
    <h1 style="text-align:center">Carl's Car Quotes</h1>
    <p style="text-align:center" class="lead">Well hey there!  Welcome to Carl's Car Quotes, where we got a deal for you!</p>
    <p style="text-align:center">Now, if you're interested in one of our legendarily low insurance quotes, why don't you go ahead and fill out this here form, and we'll take care of the rest.</p>
</div>

<div class="jumbotron">
    <p style="text-align:center">To receive a quote, please enter the following information:</p>
    @using (Html.BeginForm("YourQuote", "Home", FormMethod.Post))
    {
        <div id="inputRow" class="form-row">
            <div class="col">
                <label for="inputFirstName">First Name</label>
                <input name="FirstName" type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <label for="inputLastName">Last Name</label>
                <input name="LastName" type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
        <div id="inputRow" class="form-row">
            <div class="col">
                <label for="inputEmail4">Email</label>
                <input name="EmailAddress" type="email" class="form-control" placeholder="Email">
            </div>
            <div class="col">
                <label for="inputDateOfBirth">Date of Birth</label>
                <input name="DateOfBirth" type="date" class="form-control">
            </div>
        </div>
        <div id="inputRow" class="form-row">
            <div class="col">
                <label for="inputCarYear">What year was your car made?</label>
                <input name="CarYear" type="number" class="form-control" placeholder="Car Year">
            </div>
            <div class="col">
                <label for="inputCarMake">What is the make of your car?</label>
                <input name="CarMake" type="text" class="form-control" placeholder="Car Make">
            </div>
        </div>
        <div id="inputRow" class="form-row">
            <div class="col">
                <label for="inputCarModel">What is the model of your car?</label>
                <input name="CarModel" type="text" class="form-control" placeholder="Car Model">
            </div>
            <div class="col">
                <label for="inputSpeedingTickets">Please enter the number of speeding tickets you've had.</label>
                <input name="SpeedingTickets" type="number" class="form-control" placeholder="0">
            </div>
        </div>
        <div id="inputRow" class="form-row">
            <div class="col">
                <label for="inputCoverageChoice">Would you like full coverage or just liability?</label>
                <select name="CoverageType" class="form-control">
                    <option name="FullCoverage">Full Coverage</option>
                    <option name="LiabilityOnly">Liability Only</option>
                </select>
            </div>
            <div class="col">
                <label for="DUI">Have you ever had a DUI?</label>
                <select name="DUI" class="form-control">
                    <option name="No">No</option>
                    <option name="Yes">Yes</option>
                </select>
            </div>
        </div>
        <input id="submit" class="btn btn-primary btn-block" type="submit" value="Submit">
    }
</div>